<ion-fab vertical="top" horizontal="">
  <ion-fab-button [routerLink]="['/main']" color="dark" size="small">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <div class="header" style="text-align: center; padding-top: 28px">
    <ion-label class="fuente" style="font-size: large; color: black;">Registro de Viajes</ion-label>
  </div>
  <!-- Lista de Registros-->
  <ion-card style="margin-top:20px;">
    <ion-item *ngFor="let r of arrayRegistros" (click)="detalles(r.idviaje, r.idcom, r.horaTermino)">
      <ion-avatar>
        <ion-img src="assets\images\noperfil.jpg"></ion-img>
      </ion-avatar>
      <p class="fuenteS" style="margin-left:10px">
        <label class="fuenteM">Hora de Termino: {{ r.horaTermino}}</label>
        <br>Toca para más información
      </p>
    </ion-item>
    
  </ion-card>
</ion-content>