ion-card{
    border-radius: 20px;
}
ion-card-header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
ion-button{
    margin-top: 10px;
    width: 45px;
    height: 45px;
    --border-radius: 50%;
}
ion-icon{
    font-size: 20px;
}