ion-card{
    margin-top: 0 !important;
    border-radius: 20px;
}
ion-card-header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
ion-button{
    margin-top: 10px;
}
.div-input{
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #2b2b2b;
    border-radius: 15px;
}
.label{
    font-size: large;
    color: #2b2b2b;
}