ion-card{
    border-radius: 20px;
}
ion-card-header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
ion-button{
    margin-top: 10px;
}
.map-ex{
    width: auto;
    height: 340px;
}
.div-input{
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #2b2b2b;
    border-radius: 15px;
}
.label{
    margin-inline: 10px;
    color: #2b2b2b;
}