<ion-fab vertical="top" horizontal="">
  <ion-fab-button [routerLink]="['/main']" color="dark" size="small">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <div class="header" style="text-align: center; padding-top: 28px">
    <ion-label class="fuente" style="font-size: large; color: black;">Creando Viaje</ion-label>
  </div>
  <ion-card style="margin-top:20px; padding: 10px; background-color: #2b2b2b;">
    <!-- SECCIÓN DESDE-->
    <ion-label class="fuenteS" style="color: white; margin-inline: 10px">Desde</ion-label>
    <div class="div-input">
      <ion-input class="fuenteM label" style="margin-top: -5px; margin-bottom: -5px" placeholder="Dirección 123"></ion-input>
    </div>
    <!-- SECCIÓN HASTA-->
    <ion-label class="fuenteS" style="color: white; margin-inline: 10px">Hasta</ion-label>
    <div class="div-input">
      <ion-input class="fuenteM label" style="margin-top: -5px; margin-bottom: -5px" placeholder="Dirección Duoc"></ion-input>
    </div>
  </ion-card>
  <ion-card class="map-ex" style="margin-top:20px;">
    <ion-img src="assets/images/maps_ex.png"></ion-img>
  </ion-card>
</ion-content>

<ion-footer style="background-color: white">
  <ion-button class="fuente" expand="block" fill="outline" color="dark" [routerLink] = "['/']">Confirmar</ion-button>
</ion-footer>