ion-card{
    margin-top: 20px;
    border-radius: 20px;
}
ion-card-header{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
ion-button{
    margin-top: 10px;
}
ion-label{
    font-size: large;
    color: #ffffff;
}
p{
    margin-left: 5px;
}