<ion-fab vertical="top" horizontal="">
  <ion-fab-button [routerLink]="['/main']" color="dark" size="small">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="container" [fullscreen]="true">
  <div class="header" style="text-align: center; padding-top: 28px">
    <ion-label class="fuente" style="font-size: large; color: black;">Viaje</ion-label>
  </div>
  <div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <ion-card class="oriDes" *ngIf="varV == 0">
        <div>
          <label for="inputOrigen">Desde</label>
          <input type="text" #inputOrigen id="inputOrigen" formControlName="busqueda">
          <label for="inputDestino">Hasta</label>
          <input type="text" #inputDestino id="inputDestino" formControlName="busqueda">
        </div>
      </ion-card>
      <ion-card>
        <div class="mapa" id="divMap" #divMap></div>
      </ion-card>
    </form>

    <ion-button *ngIf="varV == 0" size="medium" expand="full" fill="outline" color="dark" class="button-cta" (click)='mapRuta()' type="submit">Comenzar Ruta</ion-button>
    <ion-button *ngIf="varV == 1 && arrayUser[0].idRol == 1" size="medium" expand="full" fill="outline" color="dark" class="button-cta" (click)='asientosDisp()'>Asientos</ion-button>
    <ion-button *ngIf="varV == 1" size="medium" expand="full" fill="outline" color="dark" class="button-cta" (click)='finalizar()'>Finalizar Viaje</ion-button>
  </div>

</ion-content>