<ion-content [fullscreen]="true" style="margin-bottom: 0">
  <center>
    <img style="margin-top: 40px; width: 150px;" src="assets\images\logo.png" alt="">
  </center>
  <center>
    <ion-label class="fuente" style="color: #2b2b2b; font-size: 20px;">¡Bienvenido {{ arrayUser[0].nombre }}!</ion-label>
  </center>

    <ion-row style="margin-top:20px">
      <!-- Icono de Viajes -->
      <ion-col size="6">
        <ion-card style="text-align: center;" [routerLink]="['/viajes']">
          <ion-card-header>
            <ion-icon name="map"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="fuenteM">Viajes</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Icono de Registro -->
      <ion-col size="6">
        <ion-card style="text-align: center;" [routerLink]="['/registro']">
          <ion-card-header>
            <ion-icon name="reader"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="fuenteM">Registro</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Icono de Mi Perfil -->
      <ion-col size="6">
        <ion-card style="text-align: center;" [routerLink]="['/perfil']">
          <ion-card-header>
            <ion-icon name="person"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="fuenteM">Mi Perfil</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Icono de Ajustes -->
      <ion-col size="6">
        <ion-card style="text-align: center;" [routerLink]="['/ajustes']">
          <ion-card-header>
            <ion-icon name="cog"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="fuenteM">Ajustes</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>

<!-- Menú de Conductor -->
<ion-footer *ngIf="arrayUser[0].idRol == 1">
  <ion-row style="text-align: center">
    <ion-col style="background-color: #2b2b2b">
      <ion-label class="fuenteM">Conductor</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center; background-color: white;">
    <ion-col [routerLink] = "['/mapagoogle']">
      <ion-icon name="add" style="color: #2b2b2b;font-size: 40px; margin-bottom: 0;"></ion-icon>
      <br>
      <ion-label class="fuenteM" style="color: #2b2b2b">Crear Viaje</ion-label>
    </ion-col>
    <ion-col [routerLink]="[]">
      <ion-icon name="people" style="color: #2b2b2b; font-size: 40px; margin-bottom: 0;"></ion-icon>
      <br>
      <ion-label class="fuenteM" style="color: #2b2b2b">Asientos</ion-label>
    </ion-col>
  </ion-row>
</ion-footer>