ion-card{
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    background-color: #2b2b2b;
}
ion-label{
    color: white;
}
ion-icon{
    font-size: 400%;
    margin-bottom: -20%;
    color: white;
    text-align: center;
}

#menuCond{
    margin-left: 20%;
    margin-right: 20%;
}