<ion-content [fullscreen]="true">
  <div id="container">
    <img style="margin-top: -20px;" src="assets\images\logo.png" alt="">

    <ion-card style="margin-top: 0px;">
      <ion-input class="fuenteM" [(ngModel)] = "correo" type="email" placeholder="Correo"></ion-input>
    </ion-card>
    <ion-card style="margin-bottom: 0px;">
      <ion-input class="fuenteM" [(ngModel)] = "pass" type="password" placeholder="Contraseña"></ion-input>
    </ion-card>
      <div class='test' style="padding-top: 10%;">
      </div>
  </div>
</ion-content>
