<ion-content [fullscreen]="true">
  <div id="container">
    <img style="margin-top: -20px;" src="assets\images\logo.png" alt="">

    <ion-card style="margin-top: 0px;">
      <ion-input class="fuenteM" [(ngModel)] = "username" type="text" placeholder="Nombre de Usuario"></ion-input>
    </ion-card>
    <ion-card style="margin-bottom: 0px;">
      <ion-input class="fuenteM" [(ngModel)] = "pass" type="password" placeholder="Contraseña"></ion-input>
    </ion-card>
      <div class='test' style="padding-top: 10%;">
        <ion-button data-testid="btn-1" fill="outline" color="dark" size="default" (click) = "login()">Entrar</ion-button>
      </div>
  </div>
</ion-content>
