<ion-fab vertical="top" horizontal="">
  <ion-fab-button [routerLink]="['/main']" color="dark" size="small">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <div class="header" style="text-align: center; padding-top: 28px; margin-bottom: 10px">
    <ion-label class="fuente" style="font-size: large; color: black;">Viajes Disponibles</ion-label>
  </div>

  <center style="margin-bottom: 10px">
    <ion-button fill="outline" color="dark" (click)="refresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </center>
  <!-- BLOQUE CONDUCTORES-->
  <div *ngFor="let v of arrayViajes">
    <ion-card *ngIf="v.status == 'activo'" (click)="verViaje(v.idviaje, v.patente)">
      <ion-item>
        <ion-avatar>
          <ion-icon name="location"></ion-icon>
        </ion-avatar>
        <p class="fuenteS" style="margin-left:10px">
          <label class="fuenteM">{{ v.patente }}</label>
          <br>Hora de Salida: {{ v.horaSalida }}<br>Toca para ver más información
        </p>
      </ion-item>
    </ion-card>

  </div>
  
</ion-content>
